html,
body {
	height: 100%;
}

@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@utility bg-primary {
	@apply bg-linear-to-b from-white to-neutral-100 dark:from-neutral-950 dark:to-neutral-800;
}

@utility bg-primary-reverse {
	@apply bg-linear-to-b dark:from-white dark:to-neutral-100 from-neutral-950 to-neutral-800;
}

@utility c-primary {
	@apply text-black dark:text-white;
}
@utility c-secondary {
	@apply text-gray-600 dark:text-gray-300;
}
@utility c-blue {
	@apply text-blue-500;
}
@utility c-red {
	@apply text-red-400;
}

b {
	font-weight: 500;
}

@theme {
	--text-sm: 14px;
	--text-smd: 15px;
	--text-md: 16px;
	--text-lg: 18px;
	--text-xl: 20px;
	/* --text-primary: ; */
}
